:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: 3px 3px 0px rgba(0,0,0,0.2);
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: Arial, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --titre: "Playfair Display", serif;
  --body: "Lora", serif;
  --padding: 20px; 
  --margin: 0;
   --width:16px;
   --max-width:100%;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

}

body {
  margin:var(--margin);
  font-family: var(--body)
}

#root {
  width: 1126px;
  max-width:var(--max-width);
  margin:var(--margin) auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h5 {
  font-family: var(--titre);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
    text-shadow: var(--shadow);
    padding: calc(var(--padding) * 5);
    font-size: calc(var(--padding) * 2 + var(--width));
    letter-spacing: -1.68px;
    margin: calc(var(--width) * 2)  var(--margin);
    @media (max-width: 1024px) {
      font-size: calc(var(--width) * 2 + 3px);
      margin: var(--padding) var(--margin);
  }
}

p {
  margin: var(--margin);
}

button,
input,
form,
select{
  font-family: var(--heading)
}


.toast-notification{
  position: fixed;
  top: var(--padding);
  left: calc(var(--max-width) / 2);
  transform: translateX(calc(var(--max-width) / 2) * -1);
  z-index: 9999; 
  display: flex;
  align-items: center;
  gap: calc(var(--padding) / 2);
  animation: fadeInToast .4s ease-out forwards;
  @media(max-width:500px){
    left:auto;
    right:var(--padding);
  }
}
@keyframes fadeInToast {
 0% {
    opacity: var(--margin);
    transform: translateY(var(--padding)); 
  }
  100% {
    opacity: 1;
    transform: translateY(var(--margin));    
  }
}

